<div class="callout callout--primary">
    <div class="grid grid--cols-2">
        <div class="callout__content">
            <h2 class="callout--heading">Ready to get started?</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas itaque, animi ullam beatae dolores
                odit optio culpa tempora, delectus aspernatur, ratione similique dolorum iusto perferendis doloribus
                inventore repellendus consectetur dicta porro laboriosam ipsum quasi blanditiis? Necessitatibus voluptas
                fugiat molestias neque.
            </p>
        </div>
        <a href="" class="btn btn--secondary btn--stretched">Get started</a>
    </div>
</div>