<section class="block block--dark block--skewed-right showcase">
    <header class="block__header">
        <h2>User-Friendly Control Panel</h2>
    </header>
    <div class="container grid grid--cols-2">
        <div class="block-showcase__image">
            <picture>
                <source type="image/png" srcset="images/ipad.png 1x, images/ipad@2x.png 2x"/>
                <source type="image/webp" srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x"/>
                <img class="showcase__image" src="images/ipad@2x.webp" alt="ipad">
            </picture>
        </div>
        <div class="showcase__content">
            <div class="media">
                <div class="media__image">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#snap"></use>
                    </svg>
                </div>
                <div class="media__body">
                    <h3 class="media__title">Easy start & Managed updates</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias harum dolorem sed enim ipsum! Quam?</p>
                </div>
            </div>
            <div class="media">
                <div class="media__image">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#growth"></use>
                    </svg>
                </div>
                <div class="media__body">
                    <h3 class="media__title">Easy start & Managed updates</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias harum dolorem sed enim ipsum! Quam?</p>
                </div>
            </div>
            <div class="media">
                <div class="media__image">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#wordpress"></use>
                    </svg>
                </div>
                <div class="media__body">
                    <h3 class="media__title">Easy start & Managed updates</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias harum dolorem sed enim ipsum! Quam?</p>
                </div>
            </div>
        </div>
    </div>
</section>